#app {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

#ui {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

#ui {
  background: #f4f4f4;
  padding: 23px;
  border-radius: 11px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
